.searchInput {
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 3rem;
  width: 20rem;
  margin: 0;
  padding: 0;
  padding-left: 0.5rem;
  font-family: sans-serif;
  border: 1px solid #f0f0f0;
}

/* Hide label visually. To use for A11y only. */
label {
  z-index: -1000;
}

.suggestions {
  position: absolute;
  top: 4.25rem;
  right: 1rem;
  width: 20.5rem;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: auto;
  background-color: white;
  font-size: 0.875rem;
  list-style: none;
}

.suggestions > li {
  display: flex;
  align-items: center;
  height: 2.125rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  outline: none;
  cursor: default;
}

.suggestions > li:hover,
.suggestions > li:focus-visible {
  background-color: #f0f0f0;
}

.suggestions > li > span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
