.info {
  font-family: sans-serif;
  width: 250px;
  padding: 1.5rem 2rem;
  background: #fff;
  border-radius: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.info p {
  margin: .5rem 0;
}

.info h3 {
  margin-bottom: .5rem;
}

.info h3:first-child {
  margin: .5rem 0;
}

.info p:last-child {
  margin-bottom: 1rem;
}